

.container {

  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;

  display: grid;

  grid-template-rows: 70px 40px 1fr 50px;
  grid-template-columns: 3fr 1fr;

  grid-template-areas:
   "page-header page-header"
   "menu menu"
   "content sidebar"
   "page-footer page-footer";

  font-family: 'Roboto', sans-serif;
}

#page-header {
  grid-area: page-header;

  background-color: navy;
  padding: 16px;
}

#page-header > h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

#menubar {
  grid-area: menu;
  background-color: lightgray;
  padding-left: 16px;

  display: flex;
  align-items: center;
}

#menubar > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.menuitem {
  margin: 0 4px;
}

.menuitem > a {
  font-weight: bold;
}

#content, #sidebar {
  padding: 10px;
}

#content {
  grid-area: content;
}

#sidebar {
  grid-area: sidebar;
  background-color: lightsalmon;;
}

#page-footer {
  grid-area: page-footer;

  background-color: navy;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 12px;
}